
<div class="row mb-3 align-items-center">
    @if (User.Picture != null)
    {
        <div class="col">
            <ImageFromByteArray Image="@User.Picture.Image" imgClass="img-thumbnail rounded float-right" />
        </div>
    }
    <div class="col">
        <div>@User.FirstName @User.LastName</div>
        <div>@User.Email</div>
    </div>
    @ChildContent
</div>

@code {
    [Parameter] public UserDTO User { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
