@using InnoGotchiGameFrontEnd.BLL.Model;
@model IEnumerable<ColaborationRequestDTO>

@foreach (var request in Model)
{
    <div class="row mb-3">
@*        @if (request.RequestSender.PhotoFileLink != null)
        {
            <div class="col-2">
                <img src="@request.RequestSender.PhotoFileLink" height="150" width="150" class="img-thumbnail rounded float-right" />
            </div>
        }*@
        <div class="col-6">
            <div>@request.RequestSender.FirstName @request.RequestSender.LastName</div>
            <div>@request.RequestSender.Email</div>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <div>
                <a href="/ColaborationRequest/@request.Id/confirm" class="btn btn-primary">Добавить в друзья</a>
            </div>
            <div>
                <a href="/ColaborationRequest/@request.Id/reject" class="btn btn-danger">Отказать</a>
            </div>
        </div>
    </div>
}