@using InnoGotchiGameFrontEnd.BLL.Model;

@model PetFarmDTO

<div>
    <div class="row">
        <div class="col">
            @Html.ActionLink("Добавить питомца", "Undifinite", "Pet", null, new {@class = "list-group-item list-group-item-action"})
        </div>
        <div class="col">
            @Html.ActionLink("Подробнее", "Undifinite", "Pet", null, new {@class = "list-group-item list-group-item-action"})
        </div>
    </div>
    <div class="bg-gradient vh-100">
        
    </div>
</div>