@using InnoGotchiGame.Application.Models;


@model IEnumerable<User>;

<table class="table">
    <tr>
        <td>Имя</td>
        <td>Отчество</td>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
        </tr>
    }
</table>