@	using InnoGotchiGameFrontEnd.BLL.Model.Authorize;
	using InnoGotchiGameFrontEnd.BLL.Model.Identity;

@{
    ViewData["Title"] = "Update user data";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@inject SecurityToken authModel
@if (authModel.IsAuthorized)
{
    <form method="post" enctype="multipart/form-data" class="form">
        <div class="form-group">
            <label class="form-label">FirstName</label>
            <input value="@authModel.User.FirstName" name="FirstName" type="text" class="form-control bg-black bg-opacity-25" required />
        </div>
        <div class="form-group">
            <label class="form-label">LastName</label>
            <input value="@authModel.User.LastName" name="LastName" type="text" class="form-control bg-black bg-opacity-25" required />
        </div>
        <div class="form-group">
            <label class="form-label">Avatar</label>
            <input name="Image" type="file" accept=".jpeg,.jpg,.png" class="form-control" />
            @if(authModel.User.Picture != null)
            {
                <p>@authModel.User.Picture.Name</p>
            }
        </div>
        <input type="submit" />
    </form>
}
