@using InnoGotchiGameFrontEnd.BLL.Model.Authorize;
@{
    ViewData["Title"] = "Update user password";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@inject AuthorizeModel authModel
@model string 
@if (authModel.IsAuthorized)
{
    <form id="UpdatePasswordForm" method="post" class="form">
        <div class="form-group">
            <label class="form-label">Старый пароль</label>
            <input id="OldPassword" name="OldPassword" type="password" class="form-control bg-black bg-opacity-25" required />
            <span class='text-danger'>@Model</span>
        </div>
        <div class="form-group">
            <label class="form-label">Новый пароль</label>
            <input id="NewPassword" name="NewPassword" type="password" class="form-control bg-black bg-opacity-25" required />
        </div>
        <div class="form-group">
            <label class="form-label">Повторите новый пароль</label>
            <input id="ReNewPassword" name="ReNewPassword" type="password" class="form-control bg-black bg-opacity-25" required />
        </div>
        <input type="submit" />
    </form>
    <script>
        $("#UpdatePasswordForm").validate({
            rules: {
                OldPassword: "required",
                NewPassword: "required",
                ReNewPassword: {
                    required: true,
                    equalTo: "#NewPassword"
                }
            },
            messages: {
                OldPassword: "<span class='text-danger'>Укажите старый пароль</span>",
                NewPassword: "<span class='text-danger'>Укажите новый пароль </span>",
                ReNewPassword: "<span class='text-danger'>Пароли должны совпадать</span>"
            }
        })
    </script>
}



