@page "/"
@attribute [Authorize]
@inject AuthenticationStateProvider stateProvider
@inject NavigationManager navigation;
@using InnoGotchiGameFrontEnd.Presentation.Pages.Users;

<PageTitle>Index</PageTitle>


<div class="row">
    <div class="col-3">
        <div class="list-group">
            <button @onclick="ToUpdateDataPage" class="list-group-item list-group-item-action">Изменить данные</button>
            <button @onclick="ToUpdatePasswordPage" class="list-group-item list-group-item-action">Изменить пароль</button>

            @if (!HasFarm)
            {
                <button @onclick="ToCreateFarmPage" class="list-group-item list-group-item-action">Создать ферму</button>
            }
        </div>
    </div>
    <div class="col">
        @if (Id != 0)
        {
            <SpecificUser Id="@Id" />
        }
    </div>
</div>

@code
{
    private int Id { get; set; }
    private bool HasFarm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state = await stateProvider.GetAuthenticationStateAsync();
        Id = int.Parse(state.User.FindFirst(nameof(SecurityToken.UserId)).Value);
        HasFarm = bool.Parse(state.User.FindFirst(nameof(SecurityToken.HasFarm)).Value);
    }

    private void ToUpdateDataPage()
    {
        navigation.NavigateTo("/updateData");
    }

    private void ToUpdatePasswordPage()
    {
        navigation.NavigateTo("/updatePassword");
    }
    private void ToCreateFarmPage()
    {
        navigation.NavigateTo("/farms/create");
    }
}

