@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Приветствуем вас, @context.User.Identity?.Name!
        <a href="/logout">Выйти</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Войти</a>
        <a href="/register">Зарегистрироватся</a>
    </NotAuthorized>
</AuthorizeView>

