@using InnoGotchiGameFrontEnd.BLL.Model.Authorize;
@{
    ViewData["Title"] = "Account Details";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
@inject AuthorizeModel authModel;

<div class="row">
    @if (authModel.IsAuthorized)
    {
        @if (@authModel.User.PhotoFileLink != null)
        {
            <div class="col-3">
                <p>Аватар</p>
                <img src="@authModel.User.PhotoFileLink" height="200" width="200" class="img-thumbnail rounded float-right" />
            </div>
        }
        <div class="col">
            <h1 class="col-sm">@authModel.User.FirstName @authModel.User.LastName </h1>
        </div>
    }
</div>
